<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (All)</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>All Users</h1>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user['id'] }}</td>
                    <td>{{ user['first_name'] }} {{ user['last_name'] }}</td>
                    <td>{{ user['email'] }}</td>
                    <td>{{ user['created_at'] }}</td>
                    <td><a href="/users/{{ user['id'] }}">Show</a> | <a
                    href="/edit_page/{{ user['id'] }}">Edit</a> | <a href="/delete/{{ user['id'] }}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <a href="/users/new">Add a New User</a>
    </table>
</body>
</html>