<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Counter</h1>
    <h3>{{ counter }}</h3>
    <div class="buttonDiv">
        <form action="#" method="post">
            <button name="click" id="click">Click</button>
        </form>
        <form action="/destroy_session" method="post">
            <button name="reset" id="reset">Reset</button>
        </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>