<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Shows In Your Area</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <p>Hey {{session['user_first_name']}}, here are shows in your area! <a href='/shows/new'>Create a new show</a></p>

    <table class="table">
        <thead>
            <th>Title</th>
            <th>Date</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <!-- .get_show_by_id({\{session['user_id']}\}) -->
            {% for show in shows %}
                {% if show.user_id != session['user_id'] %}
                <tr>
                    <td>{{show.name}}</td>
                    <td>{{show.date}}</td>
                    <td>
                        <a href='/shows/{{show.id}}'>View</a>
                            <a href='/shows/{{show.id}}/edit'>Edit</a>
                            {% if show.user_id != session['user_id'] %}
                                <a href="">Attend</a>
                            {% endif %}
                            {% if show.user_id != session['user_id'] %}
                                <a href="">Unattend</a>
                            {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <p>Here are your shows you're running:</p>
        <table class="table">
        <thead>
            <th>Title</th>
            <th>Date</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for show in shows %}
                {% if show.user_id == session['user_id'] %}
                <tr>
                    <td>{{show.name}}</td>
                    <td>{{show.date}}</td>
                    <td>
                        <a href='/shows/{{show.id}}'>View</a>
                        <a href='/shows/{{show.id}}/edit'>Edit</a>
                        <a href='/shows/{{show.id}}/delete'>Delete</a>
                        {% if show.user_id != session['user_id'] %}
                        
                            <a href="/shows/<int:id>/attend">Attend</a>
                        {% endif %}
                        {% if show.user_id != session['user_id'] %}
                            <a href="/shows/<int:id>/unattend">Unattend</a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <a href="/logout">
        <button type="button">Logout</button>
    </a>
</body>
</html>