<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% for show in shows %}
        <h1>Edit {{show.name}}</h1>
    {% endfor %}
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% for show in shows %}
    <form action='/shows/{{show.id}}/update' method='POST'>
        <label for="name">Name:</label>
        <input type='text' name='name' value='{{show.name}}'><br>

        <label for="date">Date:</label>
        <input type='date' name='date' value='{{show.date}}'><br>

        <label for="description">Description:</label>
        <textarea name='description'>{{show.description}}</textarea><br>

        <label for="max_attendees">Maximum attendees:</label>
        <input type="number" name="max_attendees" value="{{show.max_attendees}}"><br>

        <button type="submit">Save</button>
    </form>
    {% endfor %}
</body>
</html>