*{
    margin: 0;
    padding: 0;
}

.formBox{
	border: 1px solid black;
	width: 90%;
	height: auto;
	padding: 2.5%;
}

.centeredFormItems{
	margin: 0 auto; /* centers items horizontally */
}

#dropdown{
	width: 20vw;
}

#person{
	width: 20vw;
}

#endeavor{
	width: 20vw;
}

#livingThing{
	width: 20vw;
}

#textBox{
	width: 20vw;
}
