<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Arrow Functions</title>
</head>
<body id="body">
    <h1>My Boring Website</h1>
    <p id="paragraph">
        This website is boring, with very little CSS. 
        However, we really just care about the javascript. 
        For example, if you click <button id="button">this button</button>, the background of this paragraph tag will change to blue.
    </p>
    <p>We also have a <button id="alert">alert</button> button that will grab the text from the input below and show it in a popup.</p>
    <div>
        <input type="text" id="popup-input">
    </div>
    <p>
        We just like random interactivity in the site, including a fun effect if you hover over <span id="hover-this">        <b>this.</b></span>
    </p>
    <p onmouseover="mouseOverFunction(this)" id="paragraph-2"> <!-- Option 1 --> 
    <!-- <p onmouseover="mouseOverFunction(this)" onclick="clickFunction(this)"> --> <!-- Option 2 -->
        Another task: This should be another feature. 
        I want to click anywhere in this paragraph tag and I want to be able to
        change the background color to whatever is in this input:
        <input type="text" id="color-input" />.
    </p>
    <script>
        document.getElementById("button").onclick = () => setBackgroundColorById("paragraph", "blue");
        // The Document method getElementById() returns an Element object representing the element whose id property matches the specified string.
        document.getElementById("alert").onclick = () => alert(document.getElementById("popup-input").value);
        document.getElementById("hover-this").onmouseover = () => setBackgroundColorById("body", "red");
        document.getElementById("hover-this").onmouseout = () => setBackgroundColorById("body", "white");
        document.getElementById("paragraph-2").onclick = () => setBackgroundColorById("paragraph-2", getValueFromId("color-input")); // Option 1

        const getValueFromId = id => document.getElementById(id).value;
        const setBackgroundColorById = (id, color) => document.getElementById(id).style = "background-color: " + color;
        const mouseOverFunction = el => el.style = "background-color: black";
        // const clickFunction = el => el.style = "background-color: " + getValueFromId("color-input"); // Option 2
        

        // document.getElementById("paragraph").onclick = setBackgroundColorById(id, color)

        // document.getElementById("paragraph").addEventListener("click", setBackgroundColorById(id, color));
        
        // document.getElementById("button").onclick = function() {
        //     setBackgroundColorById("paragraph", "blue");
        // }
        // document.getElementById("alert").onclick = function(){
        //     alert(document.getElementById("popup-input").value);
        // }
        // document.getElementById("hover-this").onmouseover = function(){
        //     setBackgroundColorById("body", "red");
        // }
        // document.getElementById("hover-this").onmouseout = function(){
        //     setBackgroundColorById("body", "white");
        // }
        // function getValueFromId(id){
        //     return document.getElementById(id).value;
        // }
        // function setBackgroundColorById(id, color){
        //     document.getElementById(id).style = "background-color: " + color;
        // }
        // function mouseOverFunction(el){
        //     el.style = "background-color: black";
        // }
    </script>
</body>
</html>

{% with messages = get_flashed_messages() %}<!-- declare a variable called messages -->
    {% if messages %}<!-- check if there are any messages -->
        {% for message in messages %}<!-- loop through the messages -->
            <p>{{message}}</p><!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
{% endwith %}