<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <h1>Add a New User</h1>
    <a href="/users">Home</a>
    <form action="/create">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="">
        <label for="email">Email:</label>
        <input type="text" name="email" id="">
        <button type="submit">Create</button>
    </form>
</body>
</html>