<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (All)</title>
</head>
<body>
    <h1>All Users</h1>
    <table>
        <thead>
            <tr>ID</tr>
            <tr>Full Name</tr>
            <tr>Email</tr>
            <tr>Created At</tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user['id'] }}</td>
                    <td>{{ user['first_name'] }} {{ user['last_name'] }}</td>
                    <td>{{ user['email'] }}</td>
                    <td>{{ user['created_at'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <a href="/users/new">Add a New User</a>
    </table>
</body>
</html>